@media screen and (max-width: 1100px) {
    header {
        width: 100%;
    }

    .bannerTuSello {
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .contenedorProductos {
        @include grid(2, 3, 3.125rem, space-evenly);
        font-size: 1rem;
    }

    .productosMasVendidos {
        width: 18.75rem;
    }

    .productosExLibris {
        width: 18.75rem;
    }

    .productosLacre {
        width: 18.75rem;
    }

    .productosSellosSeco {
        width: 18.75rem;
    }

}