.contacto {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .datosContacto form {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;

        input[type="text"] {
            width: 80%;
            padding: 0.625rem;
            border: 1px solid #ccc;
            border-radius: 0.3125rem;
            font-size: 1rem;
        }

        button {
            width: 50%;
            padding: 0.625rem;
            border: 1px solid #ccc;
            border-radius: 0.3125rem;
            font-size: 16px;
            background-color: #FF2C6E;
            color: #fff;
            cursor: pointer;
        }

        textarea[id="mensaje"] {
            width: 80%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            resize: vertical;
            min-height: 300px;
            /* Establecer una altura mínima inicial */
        }
    }
}