%estiloProductosMasVendidos {
    a {
        font-family: 'Poppins', sans-serif;
        background-color: $colorTerciario;
        overflow: hidden;
        text-decoration: none;
        color: $colorTexto;

        &:hover {
            color: $colorPrincipal;
            transform: scale(1.1);
        }
        img {
            width: 18.75rem;
            height: 18.75rem;
            border-width: 0.125rem;
            border-style: solid;
            border-color: $colorTextoContacto;
            overflow: hidden;
        }

        h3 {
            font-size: 1.25rem;
        }

        p {
            font-size: 1.125rem;
            margin: 0.3125rem;
        }
    }
    justify-self: center;
}

%estiloProductos {
    @extend %estiloProductosMasVendidos;

    a {
        background-color: $colorPrincipal;

        &:hover {
            color: $colorTerciario;
        }
    }
}

.contenedorProductos {
    @include grid(3, 2, 3.125rem, space-evenly);
    margin-top: 1.875rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;

    .productosMasVendidos {
        @extend %estiloProductosMasVendidos;
        @include flex(row, wrap, space-between, center);
    }

    .productosExLibris {
        @extend %estiloProductos;
        @include flex(row, wrap, space-between, center);
    }
    .productosExLibris {
        @extend %estiloProductos;
        @include flex(row, wrap, space-between, center);
        }
    .productosLacre {
        @extend %estiloProductos;
        @include flex(row, wrap, space-between, center);
    }

    .productosSellosSeco {
        @extend %estiloProductos;
        @include flex(row, wrap, space-between, center);
    }
}

